<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AddSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="AddSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.140.133:2020/add.asmx" binding="basicHttpBinding"
                bindingConfiguration="AddSoap" contract="ServiceReference1.AddSoap"
                name="AddSoap" />
            <endpoint address="http://192.168.140.133:2020/add.asmx" binding="customBinding"
                bindingConfiguration="AddSoap12" contract="ServiceReference1.AddSoap"
                name="AddSoap12" />
        </client>
    </system.serviceModel>
</configuration>